[user]
	name = senft-desktop
	email = senftt@gmail.com
[github]
	user = senft
	token = 2682b8ea43cf9fb2fd9ebce3ee27f6c3
[core]
	excludesfile = /home/jln/.gitignore_global
	compression = -1
[color]
	ui = true
[web]
	browser = chromium-browser
[push]
	default = matching

[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	dl = "!git ll -1"
