"let mapleader=","

set hlsearch
set ignorecase                  " searches are case insensitive...
set smartcase                   " ... unless they contain at least one capital letter

set so=1                        " Keep cursor away from edges of screen.

if has('unnamedplus')
    set clipboard=unnamedplus
else
    set clipboard=unnamed
endif

map <C-w> :q<CR>

" Goto "definition"
map ,d <C-]>

" Change tab/buffer
map H gT
map L gt

" Delete line
map <C-d> dd
