! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim

*background: #1D1F21
*foreground: #C5C8C6

! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6

*color24:  #076678
*color66:  #427b58
*color88:  #9d0006
*color96:  #8f3f71
*color100: #79740e
*color108: #8ec07c
*color109: #83a598
*color130: #af3a03
*color136: #b57614
*color142: #b8bb26
*color167: #fb4934
*color175: #d3869b
*color208: #fe8019
*color214: #fabd2f
*color223: #ebdbb2
*color228: #f2e5bc
*color229: #fbf1c7
*color230: #f9f5d7
*color234: #1d2021
*color235: #282828
*color236: #32302f
*color237: #3c3836
*color239: #504945
*color241: #665c54
*color243: #7c6f64
*color244: #928374
*color245: #928374
*color246: #a89984
*color248: #bdae93
*color250: #d5c4a1

*cursorColor:   	#9e918b
*TkTheme:	        clearlooks

! URxvt*foreground:	#eddcd3
URxvt*foreground:   #b3a39d
URxvt*background:	#121212
URxvt.colorIT:	    #627A92
URxvt.colorUL:	    #424d17
URxvt*colorUL:	    2
URxvt.colorBD:	    #989584

URxvt.font:	        -*-tamzenforpowerline-medium-*-*-*-12-*-*-*-*-*-*-*
URxvt.boldFont:	    -*-tamzenforpowerline-medium-*-*-*-12-*-*-*-*-*-*-*

URxvt*lineSpace: 2

URxvt*url-select.launcher:	firefox
URxvt*url-select.underline:	true
URxvt*matcher.button:	    1
URxvt*keysym.M-u:	        perl:url-select:select_next
URxvt*keysym.M-Escape:	    perl:keyboard-select:activate
URxvt*keysym.M-s:	        perl:keyboard-select:search
URxvt*externalBorder:	    0
URxvt*perl-lib:	            /usr/lib/urxvt/perl/
URxvt*loginShell:	        true
URxvt*underlineURLs:	    true
URxvt*buffered:	            false
URxvt.perl-ext-common:	    default,url-select,keyboard-select
URxvt*termName:	            rxvt-256color
URxvt*urgentOnBell:	        true
URxvt*print-pipe:	        cat > $(echo URxvt**.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*scrollBar:	        false
URxvt.xftAntialias:	        false
URxvt*visualBell:	        true
URxvt*perl-ext:	            selection,clipboard
URxvt*saveLines:	        12000
URxvt*cutchars:	            `""()'*'<>[]{|}
URxvt*internalBorder:	    4
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

URxvt*transparent:          true
URxvt*shading:              10
URxvt*blurRadius:           10

! unfourtenatley fading breaks ranger/w3m image preview
!URxvt*fading:               20

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! vim: ft=xdefaults


